.new-ingredient{
  width: 300px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.table-of-ingredients{
  margin-top: 8%;
}
.form-ingredient{
  display: flex;
  justify-content: center;
}
.ingredient-available-units{
text-align: center;
  margin-top: 30px;
  font-size: 20px;
  font-weight: bold;
}

.unit-row{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.unit-label{
  width: 70px;
}
#ingredient_save, #course_ingredient_save{
  width: 200px;
  margin-top: 20px;
}
a{
  color: black;
}
#course_ingredient_amount, #course_ingredient_unit{
  margin-bottom: 10px;
}